#myCanvas {
    border: 5px solid green;
   background-image: url(https://wallpaper.dog/large/20403187.png);
   background-repeat: no-repeat;
  background-position: right;
    width: 800px;
    height: 600px;
    box-sizing: border-box;
  }

 canvas:hover {
  cursor: pointer;
} 

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

  #controls {
    float:left;
    background-color: #7B68EE;
    border: 5px inset #9400D3;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
}
  }
